<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>

    <h1>BRIDGE</h1>

    <div>
        <a href="{% url 'sign-in' %}"><button>Login</button></a>
        <a href="{% url 'sign-up' %}"><button>Registrar Usuário</button></a>
        <a href="{% url 'signup_user2' %}"><button>Registrar Embaixador</button></a>
        <a href="{% url 'signup_user3' %}"><button>Registrar Gestão</button></a>

    </div>

</body>
</html>
