
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demands by Region</title>
</head>
<body>
    <h1>Demands</h1>

    {% if region_demands %}
        <ul>
            {% for demand in region_demands %}
                <p>PROJETO: {{demand.user.project}} HORA {{demand.created_at}}
                <li>TITLE: {{ demand }} STATUS: {{demand.status}} REGIAO: {{ demand.region}}</li>
                <a href="{% url 'demand_detail' demand.id %}">Ver Detalhes</a> 
            {% endfor %}
        </ul>
    {% else %}
        <p>No demands available.</p>
    {% endif %}
</body>
</html>
