<!DOCTYPE html>
<html lang="en">
<head class="h-screen">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="h-screen">
    <div id="navbar" class="h-screen bg-[#A7D9C780]/50 px-5 pt-8 ">
        <div class="flex items-center justify-between mb-10">
        <p class="font-bold text-[20px] " >Olá, {{ user.username }}!</p>
        <form method="post" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="font-bold text-sm">Sair</button>
        </form>
        </div>

        <h2 class="font-bold text-lg mb-4">Demandas</h2>
        {% if approved_demands %}
            <p>Aprovados</p>
        {% endif %}
        {% if approved_demands %}
        <div class="flex overflow-x-auto gap-3 mb-7">
            {% for demand in approved_demands %}
            
            <a  href="{% url 'demand_detail' demand.id %}" >
            <div class="min-w-[340px] w-full px-5 py-4 h-[200px] bg-[#A7D9C7]/40 rounded-[10px]">
                <div class="flex items-center justify-between mb-3">
                    <h2 class="font-bold text-lg">{{ demand.title }}</h2>
                    <div class="flex items-center justify-center bg-[#A7D9C7] w-8 h-8 rounded-full">></div>
                </div>
                <p class="mb-4">{{ demand.description }}</p>
                <div class="flex items-center mb-3">
                    <div class="flex gap-2 items-center mr-12">
                        <img src="../../static/img/star-yellow.png"  alt="">
                        <p class="text-[#787878]">{{ demand.region }}</p>
                    </div>
                    <div class="flex gap-2 items-center mr-12">
                        <img src="../../static/img/star-green.png" alt="">
                        <p class="text-[#787878]">{{ demand.user.name }}</p>
                    </div>
                </div>
                <div class="bg-[#A7D9C7] w-[152px] rounded-lg flex gap-3 items-center text-white text-[12px] font-bold py-1 px-2">
                    <img src="../../static/img/clock.png" alt="">
                    <div>
                        <p class="">Prazo estimado</p>
                        <p>14/12/2023</p>
                    </div>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
        {% endif %}

        {% if looking_for_donors %}
            <p>Buscando doadores</p>
        {% endif %}
        {% if looking_for_donors %}
        <div class="flex overflow-x-auto gap-3 mb-7">
            {% for demand in looking_for_donors %}
            
            <a  href="{% url 'demand_detail' demand.id %}" >
            <div class="min-w-[340px] w-full px-5 py-4 h-[200px] bg-[#A7D9C7]/40 rounded-[10px]">
                <div class="flex items-center justify-between mb-3">
                    <h2 class="font-bold text-lg">{{ demand.title }}</h2>
                    <div class="flex items-center justify-center bg-[#A7D9C7] w-8 h-8 rounded-full">></div>
                </div>
                <p class="mb-4">{{ demand.description }}</p>
                <div class="flex items-center mb-3">
                    <div class="flex gap-2 items-center mr-12">
                        <img src="../../static/img/star-yellow.png"  alt="">
                        <p class="text-[#787878]">{{ demand.region }}</p>
                    </div>
                    <div class="flex gap-2 items-center mr-12">
                        <img src="../../static/img/star-green.png" alt="">
                        <p class="text-[#787878]">{{ demand.user.name }}</p>
                    </div>
                </div>
                <div class="bg-[#A7D9C7] w-[152px] rounded-lg flex gap-3 items-center text-white text-[12px] font-bold py-1 px-2">
                    <img src="../../static/img/clock.png" alt="">
                    <div>
                        <p class="">Prazo estimado</p>
                        <p>14/12/2023</p>
                    </div>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
        {% endif %}
        {% if donor_found %}
            <p>Doador atribuído</p>
        {% endif %}
        {% if donor_found %}
        <div class="flex overflow-x-auto gap-3 mb-7">
            {% for demand in donor_found %}
            <a  href="{% url 'demand_detail' demand.id %}" >
            <div class="min-w-[340px] w-full px-5 py-4 h-[200px] bg-[#A7D9C7]/40 rounded-[10px]">
                <div class="flex items-center justify-between mb-3">
                    <h2 class="font-bold text-lg">{{ demand.title }}</h2>
                    <div class="flex items-center justify-center bg-[#A7D9C7] w-8 h-8 rounded-full">></div>
                </div>
                <p class="mb-4">{{ demand.description }}</p>
                <div class="flex items-center mb-3">
                    <div class="flex gap-2 items-center mr-12">
                        <img src="../../static/img/star-yellow.png"  alt="">
                        <p class="text-[#787878]">{{ demand.region }}</p>
                    </div>
                    <div class="flex gap-2 items-center mr-12">
                        <img src="../../static/img/star-green.png" alt="">
                        <p class="text-[#787878]">{{ demand.user.name }}</p>
                    </div>
                </div>
                <div class="bg-[#A7D9C7] w-[152px] rounded-lg flex gap-3 items-center text-white text-[12px] font-bold py-1 px-2">
                    <img src="../../static/img/clock.png" alt="">
                    <div>
                        <p class="">Prazo estimado</p>
                        <p>14/12/2023</p>
                    </div>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
        {% endif %}

        {% if negociating %}
            <p>Em negociação</p>
        {% endif %}
        {% if negociating %}
        <div class="flex overflow-x-auto gap-3 mb-7">
            {% for demand in negociating %}
            <a  href="{% url 'demand_detail' demand.id %}" >
            <div class="min-w-[340px] w-full px-5 py-4 h-[200px] bg-[#A7D9C7]/40 rounded-[10px]">
                <div class="flex items-center justify-between mb-3">
                    <h2 class="font-bold text-lg">{{ demand.title }}</h2>
                    <div class="flex items-center justify-center bg-[#A7D9C7] w-8 h-8 rounded-full">></div>
                </div>
                <p class="mb-4">{{ demand.description }}</p>
                <div class="flex items-center mb-3">
                    <div class="flex gap-2 items-center mr-12">
                        <img src="../../static/img/star-yellow.png"  alt="">
                        <p class="text-[#787878]">{{ demand.region }}</p>
                    </div>
                    <div class="flex gap-2 items-center mr-12">
                        <img src="../../static/img/star-green.png" alt="">
                        <p class="text-[#787878]">{{ demand.user.name }}</p>
                    </div>
                </div>
                <div class="bg-[#A7D9C7] w-[152px] rounded-lg flex gap-3 items-center text-white text-[12px] font-bold py-1 px-2">
                    <img src="../../static/img/clock.png" alt="">
                    <div>
                        <p class="">Prazo estimado</p>
                        <p>14/12/2023</p>
                    </div>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% include "embassor/navbar.html" %}
</body>
</html>