<!DOCTYPE html>
<html lang="en" class="h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Triagem</title>
  </head>
  <body class="h-screen bg-[#A7D9C780]/50">
    <div class="px-5 py-10">
      <h1 class="font-bold text-[20px] mb-8">Triagem</h1>

      {% if demands %}
      <div>
        {% for demand in demands %}
        <div class="bg-[#F9F9F9] mb-4 px-5 py-4 rounded-lg">
          <p class="text-[16px] font-bold mb-3">{{ demand.description }}</p>
          <p class="mb-4 text-[#2D2D2D]">{{ demand.title }}</p>
          <div class="flex items-center gap-2 mb-4">
            <img src="../../static/img/star-yellow.png" alt="">
            <p>{{ demand.region }}</p>
          </div>
          <div class="flex gap-4">
            <a href="{% url 'aprovar_triagem' demand.id %}" class="flex items-center bg-[#A7D9C7] px-3 py-2 text-white font-bold rounded-lg gap-1">
              <img src="../../static/img/check.svg" alt="">
              <p>Aprovar projeto</p>
            </a>
            <a href="{% url 'rejeitar_triagem' demand.id %}" class="flex items-center bg-[#F59FB8] px-3 py-2 text-white font-bold rounded-lg gap-1">
              <img src="../../static/img/delete.svg" alt="">
              <p>Deletar</p>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>Nenhuma demanda em análise no momento.</p>
      {% endif %}
    </div>
    {% include "embassor/navbar.html" %}
  </body>
</html>
