<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
</head>
<body>
    <div id="navbar">
        {% if user.is_authenticated %}
            <p>Olá, {{ user.username }} você é um -> {{ user.get_role_display }}!</p>
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <a href="{% url 'demand-create' %}">Solicitar Demanda</a>
            <a href="{% url 'my-demands' %}">Minhas Demandas</a>
        {% else %}
            <a href="{% url 'sign-in' %}">Login</a>
            <a href="{% url 'sign-up' %}">Signup</a>
        {% endif %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
