<!-- myapp/templates/myapp/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
</head>
<body>
    <div id="navbar">
        {% if user.is_authenticated %}
            <p>Olá, {{ user.username }} {{ user.get_role_display }}!</p>
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>


            {% with project_id=1 %} {# Substitua 1 pelo ID do projeto desejado #}
            <a href="{% url 'solicitacao' project_id=project_id %}">Criar Solicitação</a>
            {% endwith %}
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'sign-up' %}">Signup</a>
        {% endif %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
