{% block title %}Minhas Demandas{% endblock %}

{% block content %}
    <h2>Minhas Demandas</h2>

    {% if user_demands %}
        <ul>
            {% for demand in user_demands %}
            <li> Projeto: {{ user.project }} - Objetivo: {{ user.objective }} </li>    
            <li>Titulo da Demanda:{{ demand.title }} - Descrição: {{ demand.description }} - Status da Demanda: {{ demand.status }} - Região: {{ demand.region }} - Nome do Responsável: {{ user.name }} - Número do Responsável: {{ user.phone }} - E-mail do Responsável: {{user.email}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Você não tem nenhuma demanda no momento.</p>
    {% endif %}
{% endblock %}
