{% extends 'management/base.html' %}

{% block title %}Registre-se{% endblock %}

{% block content %}
<h1 class="text-xl font-bold mt-6">Cadastrar Embaixador</h1>

<form method="post" class="mt-8 flex flex-col gap-3">
  {% csrf_token %}

  <div class="grid grid-cols-2 gap-3">
    <div class="relative w-full">
        <label for="username" class="absolute top-2 font-bold left-3 text-[#A3A3A3] text-sm">Usuário</label>
        <input class="border-2 w-full h-16 rounded-md px-3 py-2 pt-5 box-border focus:outline-none focus:border-[#A4A4A4]" type="text" name="username" required>
    </div>
    <div class="relative w-full">
        <label for="name" class="absolute top-2 font-bold left-3 text-[#A3A3A3] text-sm">Nome</label>
        <input class="border-2 w-full h-16 rounded-md px-3 py-2 pt-5 box-border focus:outline-none focus:border-[#A4A4A4]" type="text" name="name" required>
    </div>
    <div class="relative w-full">
        <label for="email" class="absolute top-2 font-bold left-3 text-[#A3A3A3] text-sm">E-mail</label>
        <input class="border-2 w-full h-16 rounded-md px-3 py-2 pt-5 box-border focus:outline-none focus:border-[#A4A4A4]" type="text" name="email"  required>
    </div>
    <div class="relative w-full">
        <label for="password" class="absolute top-2 font-bold left-3 text-[#A3A3A3] text-sm">Senha</label>
        <input class="border-2 w-full h-16 rounded-md px-3 py-2 pt-5 box-border focus:outline-none focus:border-[#A4A4A4]" type="password" name="password" required>
    </div>
    <div class="relative w-full">
        <label for="phone" class="absolute top-2 font-bold left-3 text-[#A3A3A3] text-sm">Contato</label>
        <input class="border-2 w-full h-16 rounded-md px-3 py-2 pt-5 box-border focus:outline-none focus:border-[#A4A4A4]" type="text" name="phone" required>
    </div>
    <div class="relative w-full">
      <label for="region" class="absolute top-2 font-bold left-3 text-[#A3A3A3] text-sm">Região</label>
      <select name="region" required class="border-2 w-full h-16 rounded-md px-3 py-2 pt-5 box-border focus:outline-none focus:border-[#A4A4A4]">
        {% for region in region_options %}
          <option value="{{ region.value }}">
            {{region.label}}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <button type="submit" class="w-full px-5 py-3 rounded-xl text-white bg-[#A7D9C7] text-[#F9F9F9] max-w-sm hover:bg-[#A7D9C7]/90">
    Cadastrar
  </button>
</form>

{% endblock %}