{% load static %}

<!DOCTYPE html>
<html class="h-full" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.tailwindcss.com"></script>

  <style>
    /* label[for=id_description], label[for=id_name], label[for=id_image], label[for=id_price] {
    } */

    /* #icon:hover {
      filter: brightness(0) invert(1);
    } */
  </style>

  <title>{% block title %}{% endblock %} | Chat</title>
</head>
<body class="bg-[#F9F9F9] h-full">
  <div class="flex h-full">
    <aside class="fixed left-0 top-0 bottom-0 flex flex-col w-[200px] p-6 h-full">
      <h1>Logo</h1>

      <nav class="flex-1 h-full flex-1 flex justify-center flex-col gap-4 mb-4">
        <a class="group flex items-center gap-2 py-1 px-2 rounded-md font-medium text-[#003223] text-[20px] hover:text-white w-full hover:bg-[#003223] transition-colors" href="/home">
          <img id="icon" src="{% static 'img/home.png' %}" class="w-4 h-4 group-hover:invert group-hover:brightness-0" alt="logo do produto bridge" />
          Início
        </a>
        <a class="group flex items-center gap-2 py-1 px-2 rounded-md font-medium text-[#003223] text-[20px] hover:text-white w-full hover:bg-[#003223] transition-colors" href="/demands">
          <img id="icon" src="{% static 'img/check_circle.png' %}" class="w-4 h-4 group-hover:invert group-hover:brightness-0" alt="logo do produto bridge" />
          Demandas
        </a>
        <button id="open-button" class="flex gap-2 justify-between items-center relative py-1 px-2 rounded-md w-full transition-colors" href="">
          <img id="icon" src="{% static 'img/register.png' %}" class="w-4 h-4" alt="logo do produto bridge" />
          <span class="font-medium text-[#003223] text-[20px]">
            Cadastrar
          </span>

          <img src="{% static 'img/expand_more.png' %}" alt="logo do produto bridge" />

          <div id="dropdown" class="hidden absolute mt-8 top-0 left-1 right-0 flex flex-col gap-1 ">
            <a class="text-start text-sm py-1 px-2 hover:text-white w-full hover:bg-[#003223] transition-colors rounded-lg overflow-hidden" href="/embassador/add">
              Embaixador
            </a>
            <a class="text-start text-sm py-1 px-2 hover:text-white w-full hover:bg-[#003223] transition-colors rounded-lg overflow-hidden" href="/manager/add">
              Gestor
            </a>
          </div>

        </button>
      </nav>

      <a href="/logout/" class="font-medium text-[#003223] absolute bottom-8 text-[20px] flex gap-1 items-center px-2">
        <img id="icon" src="{% static 'img/logout.png' %}" class="w-4 h-4" alt="logo do produto bridge" />
        Sair
      </a>
    </aside>
    <main class="border border-yellow-400 w-full flex-1 overflow-y-auto p-12 ml-[200px]">
      <form method="POST" action="{% url 'search' %}" class="focus-within:border-[#A4A4A4] bg-[#FEFEFE] border border-white transition-colors items-center rounded-lg w-full overflow-hidden flex">
        {% csrf_token %}
        <img id="icon" src="{% static 'img/search.png' %}" class="w-4 h-4 mx-2" alt="logo do produto bridge" />
        <input type="text" name="search" id="search" class="flex-1 p-2 placeholder:text-[#2D2D2D] outline-none group text-sm" placeholder="Buscar por demandas, projetos e embaixadores">
      </form>
      
      {% block content %}
      {% endblock %}
    </main>
  </div>

  <script>
    const button = document.querySelector('#open-button')
    const dropdown = document.querySelector('#dropdown')

    button.addEventListener('click', () => {
      if (dropdown.className.includes("hidden")) {
        dropdown.classList.remove("hidden")
      } else {
        dropdown.classList.add("hidden")
      }
    })
  </script>
  {% block scripts %}
  {% endblock %}
</body>
</html>