{% extends 'management/base.html' %}
{% load static %}

{% block title %}Registre-se{% endblock %}

{% block content %}
<h1 class="text-xl font-bold mt-6">Demandas</h1>

<div class="flex gap-8 overflow-x-auto">
  <div class="min-w-[320px] w-full flex flex-col gap-4 mt-6">
    <span class="text-sm font-medium">Demandas com prazo máximo:</span>

    <div class="flex flex-col gap-4">
      <div class="border-[2px] border-[#F4AB2B]/50 bg-[#F4AB2B]/50 flex flex-col gap-3 p-4 relative rounded-lg w-[300px]">
        <strong>Solicitação de algo</strong>
        <span>Nome do projeto</span>

        <div class="grid grid-cols-2">
          <span class="text-[#787878]">Região</span>
          <span class="text-[#787878]">Embaixador</span>
        </div>

        <div class="w-fit flex items-center gap-2 p-1 rounded-lg bg-[#F4AB2B]">
          <img id="icon" src="{% static 'img/clock.png' %}" class="w-4 h-4" alt="Ícone de relógio" />
          <span class="text-white text-sm">10/10/2010</span>
        </div>
      </div>
    </div>
  </div>
  <div class="min-w-[320px] w-full flex flex-col gap-4 mt-6">
    <span class="text-sm font-medium">Procurar Doador:</span>

    {% if looking_for_donors %}
      {% for item in looking_for_donors %}
        <div class="border-[2px] border-[#F4AB2B]/50 flex flex-col gap-3 p-4 relative rounded-lg w-[300px]">
          <div class="flex justify-between">
            <div class="flex flex-col gap-3">
              <strong>{{ item.title }}</strong>
              <span>{{ item.user.project }}</span>
            </div>

            <a href="{% url 'project_detail' item.id %}" class="grid w-8 h-8 place-items-center rounded-full bg-[#F4AB2B] text-lg text-white font-bold">
              >
            </a>
          </div>

          <div class="grid grid-cols-2">
            <div class="flex items-center gap-1">
              <img id="icon" src="{% static 'img/star-yellow.png' %}" class="w-4 h-4" alt="Ícone de relógio" />  
              <span class="text-[#787878]">
                {{ item.region }}
              </span>
            </div>
            <div class="flex items-center gap-1">
              <img id="icon" src="{% static 'img/star-green.png' %}" class="w-4 h-4" alt="Ícone de relógio" />  
              <span class="text-[#787878]">
                {{ item.user.name }}
              </span>
            </div>
          </div>

          <div class="w-fit flex items-center gap-2 p-1 rounded-lg bg-[#F4AB2B]">
            <img id="icon" src="{% static 'img/clock.png' %}" class="w-4 h-4" alt="Ícone de relógio" />
            <span class="text-white text-sm">10/10/2010</span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="mt-5">Não tem cards nesse quadro.</div>
    {% endif %}
  </div>
  <div class="min-w-[320px] w-full flex flex-col gap-4 mt-6">
    <span class="text-sm font-medium">Doador Atríbuido:</span>

    {% if donors_found %}
      {% for item in donors_found %}
        <div class="border-[2px] border-[#F4AB2B]/50 flex flex-col gap-3 p-4 relative rounded-lg w-[300px]">
          <div class="flex justify-between">
            <div class="flex flex-col gap-3">
              <strong>{{ item.title }}</strong>
              <span>{{ item.user.project }}</span>
            </div>

            <a href="{% url 'project_detail' item.id %}" class="grid w-8 h-8 place-items-center rounded-full bg-[#F4AB2B] text-lg text-white font-bold">
              >
            </a>
          </div>
          <div class="grid grid-cols-2">
            <div class="flex items-center gap-1">
              <img id="icon" src="{% static 'img/star-yellow.png' %}" class="w-4 h-4" alt="Ícone de relógio" />  
              <span class="text-[#787878]">
                {{ item.region }}
              </span>
            </div>
            <div class="flex items-center gap-1">
              <img id="icon" src="{% static 'img/star-green.png' %}" class="w-4 h-4" alt="Ícone de relógio" />  
              <span class="text-[#787878]">
                {{ item.user.name }}
              </span>
            </div>
          </div>

          <div class="w-fit flex items-center gap-2 p-1 rounded-lg bg-[#F4AB2B]">
            <img id="icon" src="{% static 'img/clock.png' %}" class="w-4 h-4" alt="Ícone de relógio" />
            <span class="text-white text-sm">10/10/2010</span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="mt-5">Não tem cards nesse quadro.</div>
    {% endif %}
  </div>
  <div class="min-w-[320px] w-full flex flex-col gap-4 mt-6">
    <span class="text-sm font-medium">Concluídos:</span>

    {% if concluded %}
      {% for item in concluded %}
        <div class="border-[2px] border-[#F4AB2B]/50 flex flex-col gap-3 p-4 relative rounded-lg w-[300px]">
          <div class="flex justify-between">
            <div class="flex flex-col gap-3">
              <strong>{{ item.title }}</strong>
              <span>{{ item.user.project }}</span>
            </div>

            <a href="" class="grid w-8 h-8 place-items-center rounded-full bg-[#F4AB2B] text-lg text-white font-bold">
              >
            </a>
          </div>
          <div class="grid grid-cols-2">
            <div class="flex items-center gap-1">
              <img id="icon" src="{% static 'img/star-yellow.png' %}" class="w-4 h-4" alt="Ícone de relógio" />  
              <span class="text-[#787878]">
                {{ item.region }}
              </span>
            </div>
            <div class="flex items-center gap-1">
              <img id="icon" src="{% static 'img/star-green.png' %}" class="w-4 h-4" alt="Ícone de relógio" />  
              <span class="text-[#787878]">
                {{ item.user.name }}
              </span>
            </div>
          </div>

          <div class="w-fit flex items-center gap-2 p-1 rounded-lg bg-[#F4AB2B]">
            <img id="icon" src="{% static 'img/clock.png' %}" class="w-4 h-4" alt="Ícone de relógio" />
            <span class="text-white text-sm">10/10/2010</span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="mt-5">Não tem cards nesse quadro.</div>
    {% endif %}
  </div>
</div>
{% endblock %}