{% extends 'management/base.html' %}
{% load static %}

{% block title %}Registre-se{% endblock %}

{% block content %}
<div class="flex flex-col mt-8 gap-8">
  <h1 class="font-bold text-2xl">Resultados</h1>

  <div class="flex flex-col gap-4">
    <div class="flex items-center gap-2">
      <h2 class="text-sm">Demandas e Projetos</h2>
      <div class="flex-1 h-[2px] bg-[#2D2D2D]"></div>
    </div>

    <div class="flex gap-3 overflow-x-auto">
      {% for demand in search_results %}
        <div class="min-w-[300px] p-2.5 border-[2px] border-[#F4AB2B]/50 rounded-lg flex flex-col gap-4">
          <div class="flex flex-col gap-3">
            <strong class="text-bas">{{ demand.title }}</strong>
            <span>{{ demand.description }}</span>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-1">
              <img id="icon" src="{% static 'img/star-yellow.png' %}" class="w-4 h-4" alt="Ícone de relógio" />  
              <span class="text-[#787878]">
                {{ demand.region }}
              </span>
            </div>
            <div class="flex items-center gap-1">
              <img id="icon" src="{% static 'img/star-green.png' %}" class="w-4 h-4" alt="Ícone de relógio" />  
              <span class="text-[#787878]">
                {{ demand.user }}
              </span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>

  <div class="flex flex-col gap-4">
    <div class="flex items-center gap-2">
      <h2 class="text-sm">Embaixadores</h2>
      <div class="flex-1 h-[2px] bg-[#2D2D2D]"></div>
    </div>

  </div>
</div>
{% endblock %}