/* .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    height : 108px;

}
.all-wrapper {
   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo .logobridge {
    position : relative;
}

.loginbutton {
    margin-top: 30px;
    background-color: #F9F9F9;
    border: 1px solid #f9f9f9;
    cursor: pointer;
}

form {
    color: #fff;
    width: 100%;
    margin-top: 86px;
    padding: 20px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

form input {
    width: 17%;
    height: 58px;
    border-radius: 10px;
    padding: 0 12px ;
    font-family: 'Poppins', sans-serif;
    color: #F9F9F9;
    border: 1px solid #D9D9D9
    
}

@media only screen and (max-width: 600px) {

    input::placeholder {
        color: #888;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        vertical-align: top;
    }
    
    form {
        color: #fff;
        width: 100%;
        margin-top: 100px;
        padding: 20px 0;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    form input {
        width: 80%;
        height: 58px;
        border-radius: 10px;
        padding: 0 12px ;
        font-family: 'Poppins', sans-serif;
        color: #F9F9F9;
        border: 1px solid #D9D9D9
        
    }

  
} */