body {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
    
}

h2,h3,h4,h5,h6 {
    color: #fff;
}

p {
    color: #fff;
   
}





@media only screen and (max-width: 600px) {
    
    
    
    /* parece que os botoes seguem formatacao quase identica. teremos de generalizar mais essa classe*/

    .wrapper {
        width: 1000px;
        margin: 0 auto; 
    }
    
  
}

