{% extends 'auth/userbase.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/loginstyle.css' %}">
    <style>
    .loginbutton {
        background-image: url('{% static "img/login.png" %}');
       
    }
    </style>
</head>

<body>
    <div class="h-[100vh] flex flex-col items-center justify-center">
        <div class="mb-24">
            <div class="logobridge">
                
                <img id="logo" src="{% static 'img/logo.png' %}" alt="logo do produto bridge">
            </div>
        </div>

        <!-- {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} -->

        <form method="post" action="{% url 'sign-in' %}" class="flex flex-col items-center gap-[30px]">
            {% csrf_token %}
            <div class="relative">
                <label for="username" class="absolute top-2 font-bold left-3 text-[#A3A3A3] text-sm">Usuário</label>
                <input class="border-2 h-16 rounded-md px-3 py-2 pt-5 box-border focus:outline-none focus:border-[#A4A4A4]" type="text " name="username"required>
            </div>
            <div class="relative">
                <label for="password" class="absolute top-2 font-bold left-3 text-[#A3A3A3] text-sm">Senha</label>
                <input class="border-2 h-16 rounded-md px-3 py-2 pt-5 box-border focus:outline-none focus:border-[#A4A4A4]" type="password" name="password"  required>
            </div>
            <button type="submit" class="" >
                <img src="{% static 'img/btnaprovar.png' %}" alt="Entrar">
            </button>
        </form>
    </div>
</body>

</html>

{% endblock %}
